#footer-logo {
	font-size: 100px;
	font-family: "Inter", sans-serif;
	font-weight: 900;
	color: #4e47ff;
}

footer {
	background-color: white;
	width: 100%;
	height: 428px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#footer-text {
	text-align: center;
	padding-bottom: 103px;
	padding-top: 104px;
	margin-left: 455px;
	margin-right: 454px;
	padding: 20px;
	width: 531px;
	max-height: 221px;
}

#footer-details {
	color: #8987a1;
	font-size: 16px;
	font-weight: normal;
	font-family: "Inter", sans-serif;
	margin-bottom: 20px;
}

#footer-end {
	color: #8987a1;
	display: flex;
	flex-direction: row;
	font-size: 16px;
	font-weight: normal;
	font-family: "Inter", sans-serif;
	line-height: 150%;
	text-align: center;
	justify-content: space-evenly;
}
